<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<!-- Need costume orders, costume samples, uniform orders, uniform samples -->

<div class="container-fluid">
    <form [formGroup]="costumeOrders" (ngSubmit)="onSubmit()"></form>

    <label for="customer-name">Customer Name: </label>
    <input id="customer-name" type="text" formControlName="customerName">
  
    <label for="contact-one">Contact 1: </label>
    <input id="contact-one" type="text" formControlName="contactOne">

    <label for="contact-two">Contact 2: </label>
    <input id="contact-two" type="text" formControlName="contactTwo">
</div>