<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<!-- Need costume orders, costume samples, uniform orders, uniform samples -->

<a class="btn btn-primary" routerLink="/costume-orders" routerLinkActive="active">Costume Order</a>
<a class="btn btn-primary" routerLink="/costume-samples" routerLinkActive="active">Costume Samples</a>
<a class="btn btn-primary" routerLink="/uniform-orders" routerLinkActive="active">Uniform Orders</a>
<a class="btn btn-primary" routerLink="/uniform-samples" routerLinkActive="active">Uniform Samples</a>