<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<div class="container-fluid parent">
    <div class="child" formGroupName="contact">
        <h1>New Contact</h1>
        <form [formGroup]='contactForm' (ngSubmit)="onSubmit()">

          <label for="contactForename">First Name: </label>
          <input id="contactForename" type="text" class="form-control mb-4" formControlName="contactForename">
          
          <label for="contactSurname">Last Name: </label>
          <input id="contactSurname" type="text" class="form-control mb-4" formControlName="contactSurname">
          
          <label for="contactPosition">Position: </label>
          <input id="contactPosition" type="text" class="form-control mb-4" formControlName="contactPosition">
          
          <label for="contactAddress">Address: </label>
          <input id="contactAddress" type="text" class="form-control mb-4" formControlName="contactAddress">
          
          <label for="contactPhone">Phone Number: </label>
          <input id="contactPhone" type="text" class="form-control mb-4" formControlName="contactPhone">
          
          <label for="contactEmail">Email: </label>
          <input id="contactEmail" type="text" class="form-control mb-4" formControlName="contactEmail">
          
          <label for="contactRole">Role: </label>
          <input id="contactRole" type="text" class="form-control mb-4" formControlName="contactRole">
          <!-- <h3>Notes</h3> -->
          
          <!-- <input id="notes" type="text" class="form-control mb-4" formControlName="notes"> -->
          <!-- <textarea id="contactNotes" rows="6" class="form-control"></textarea> -->
          
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <!-- <div class="container-fluid child">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Contact</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div> -->

</div>